@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>
            <a href="/Students">Students</a>
        </p>
        <p>
            <a href="/Subjects">Subjects</a>
        </p>
        <p>
            <a href="/Grades">Grades</a>
        </p>
        <p>
            <a href="/Scores">Scores</a>
        </p>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
